*{
    /* background-color: rgb(41, 40, 40); */
    margin:0px;
    padding:0px;
}

header{
    position: sticky;
    top:0px;
}
nav{
    background-color: pink;
    height:100px;
}

ul li{
    display: inline;
    padding:50px;
    background-color: pink;
}

.container{
    display:flex;
    background-color: black
}

.box{
    border: 2px solid black;
    padding:30px 30px;
    margin-top: 10px;
    margin:30px;
} 

#box1{
    background-color: salmon;
    width: 700px;
    height: 900px;
    

}

#box2{
    background-color: lightblue ;
    width: 700px;
    height: 900px;
}

.info{
    background-color: black;
    color:antiquewhite;
    border-radius: 7px;
    border : 2px solid whitesmoke ;
    height: 300px;
    width:1000px;
    padding: 30px;
    margin: 50px 150px;
    font-size: 40px;
    text-align: center;
}

#logo{
    height:70px;
    width:70px;
    border-radius:70px;
    border: 1px solid orange;
    background-color: orange;
    position:fixed;
    bottom:12px;
    right:23px;
}

footer{
    padding: 0;
    height:400px;
    background-color: aquamarine;
}