*{
    padding: 0;
    margin: 0;
}
header{
    position:sticky;
    top: 0;
}
nav{
    display:flex;
    background-color: rgb(86, 84, 84);
    height:150px;
    justify-content: space-around;
    align-items: center;
}
.box{
    display:flex;
    color:antiquewhite
}
div{
    padding: 20px;
}
/* #lft{
    display:
} */

#rgt{
    font-size: 15px;
}

#bd{
    height: 1400px;
    background-color: rgb(244, 145, 145);
}